@import 'modulo-bienvenidos', 'modulo-container-nav', 'section-titulo','modulo-banner','modulo-section-servicios','modulo-galeria','modulo-ubicacion','modulo-contactos';

body{
    margin: 0;
    padding: 0; 
    }
.container{
    background-color: black;
    max-width:100vw;
}